body
{
    color:#333
    text-align: center;
    font-family: Courier;
}

#contenedor
{
    width:70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
 
}

#contenedor h1
{
    font-size: 20px;
}