*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.padre{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.box1{
    background-color:blue;
    color: cornsilk;
    width: 200px;
    height: 30px;
    position: absolute; 
    text-align: center;
    padding-top: 15px;
    padding-bottom: 35px;
    border-radius: 8px;
    border: 1px solid black;
    margin-block-start: -20px;   
}

.box2{
    background-color: violet;
    width: 400px;
    height: 350px;
    text-align:center;
    padding-top: 50px; 
    border-radius: 12px;
    border: 1px solid black;
}

